{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>

        <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}">
        <script>
        // Sends event to client
        vkBridge.send('VKWebAppInit');
        // document.write(vkBridge.send("VKWebAppGetCommunityToken", {"app_id": 7505621, "group_id": 182372147, "scope": "app_widget"}));
        </script> 
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <title>Мини-приложение</title>
    </head>
    <body>
<!--        <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>-->
 
        <script>
        // Sends event to client
        vkBridge.send('VKWebAppInit');
        // document.write(vkBridge.send("VKWebAppGetCommunityToken", {"app_id": 7505621, "group_id": 182372147, "scope": "app_widget"}));
        </script> 

        <div id="main_category">
            <img src="{% static 'img/red_up.png' %}" id="red_up">

            <p id="p1">Привет, я твой персональный робот-помощник! Чтобы познакомиться с основными функциями чат-бота - выбери кнопку ниже :)
                </p>
            <div id="buttons_block">
                <img src="{% static 'img/bt1.png' %}" class="buttons">
                <img src="{% static 'img/bt2.png' %}" class="buttons">
                <img src="{% static 'img/bt3.png' %}" class="buttons">
                <img src="{% static 'img/bt4.png' %}" class="buttons">
                <img src="{% static 'img/bt5.png' %}" class="buttons">
                <img src="{% static 'img/bt6.png' %}" class="buttons">
                <img src="{% static 'img/bt7.png' %}" class="buttons">
                <img src="{% static 'img/bt8.png' %}" class="buttons">
            </div>
            <img src="{% static 'img/red_sit.png' %}" id="red_sit">

        </div>
        <div id="first_category">
            <img src="{% static 'img/back_bt.png' %}" id="back_bt1">

            <img src="{% static 'img/blue_up.png' %}" id="blue_up">
            <p id="cat_1_name">
                Регистрация новых пользователей
            </p>
            <div class="breaker" id="c1"></div>
            <img src="{% static 'img/menu_1.png' %}" id="menu_1">
            <p id="p2">При прохождении регистрации бот предложит вам выбрать роль</p>
            <p id="p3">Студенты могут смотреть  расписание группы, импортировать расписание из Excel файла, скачивать свое расписание в разных форматах и добавлять задания на определенные дни.

Преподаватели могут также смотреть свое расписание, и взаимодействовать со своими студентами.

Родители могут смотреть расписание своих детей и список других родителей.

Абитуриенты могут перейти в официальные источники, а в случае зачисления зарегистрироваться заново студентом.</p>
            <img src="{% static 'img/blue_down.png' %}" id="img_blue_down">
        </div>

    <div id="second_category">
        <div class="breaker" id="c2"></div>
        <img src="{% static 'img/blue_up.png' %}" id="blue_up2">
        <img src="{% static 'img/blue_down.png' %}" id="img_blue_down2">
        <img src="{% static 'img/back_bt.png' %}" id="back_bt2">
        <p id="p4">Расписание</p>
        <p id="p5">Просмотр расписания представлен первыми тремя строками основного меню. Здесь есть кнопки для быстрого отображения расписания на сегодня, завтра и послезавтра, причем оно будет просчитываться с учетом четности, хождения подгрупп и других особенностей ВУЗовского расписания. Также есть кнопка просмотра четности и кнопка “На неделю”, которая открывает дополнительное меню.</p>
        <p id="p6">В этом меню можно посмотреть расписание на ближайшие 7 дней, причем оно будет просчитываться с учетом четности, хождения подгрупп и других особенностей ВУЗовского расписания.

Кнопка “Полностью” отобразит ваше полное расписание.</p>
        <img src="{% static 'img/menu_2.png' %}" id="menu_2">
        <img src="{% static 'img/menu_3.png' %}" id="menu_3">
    </div>

    <div id="cat_3">
        <img src="{% static 'img/back_bt.png' %}" id="back_bt3">
        <img src="{% static 'img/blue_up.png' %}" id="blue_up3">
        <img src="{% static 'img/blue_down.png' %}" id="img_blue_down3">
        <div class="breaker" id="c3"></div>

        <p id="p7">Теперь расписание занятий можно менять самостоятельно в любой момент. Это может быть удобно, если у вас долгое время не обновляется расписание на сайте.

Формат записи пар в таблицу достаточно простой и гибкий. Можно настроить свое расписание так, чтобы можно было учитывать четность недели, хождение подгрупп на лабораторные работы, очередность их хождения, тип пар и т.п.

Для того, чтобы получить шаблон записи — введите в чат команду «добавить свое расписание».</p>
        <img src="{% static 'img/dialog_1.png' %}" id="dialog_1">
        <p id="8">Открыв файл можно сразу приступить к его заполнению.

Структура файла представляет собой колонки:
    ○ День недели
    ○ Время
    ○ Частота повторений
    ○ Название пары
    ○ Тип пары
    ○ Аудитория
    ○ Здание
    ○ Потоковая или нет
    ○ Имя преподавателя

За основу взята структура расписания, которое рассылает деканат.
Отличие лишь в колонке “Потоковая или нет”.  Она помечает лекцию как потоковую, отображение которых можно скрыть командой “поток”. Любое непустое значение этой ячейке означает, что пара потоковая, пустое значение же равно тому, что пара НЕпотоковая.
Для загрузки расписания в систему просто прикрепите файл к сообщение и введите команду “Загрузить расписание”.
В случае правильно заполненного файла, расписание сохранится. </p>

        <img src="{% static 'img/dialog_2.png' %}" id="dialog_2">

        <p id="9">В случае ошибки при заполнении расписания, вам будет выведено соответствующее сообщение с номером строки, в котором допущена ошибка.</p>

        <img src="{% static 'img/dialog_3.png' %}" id="dialog_3">

        <p id="10">В таком случае вам необходимо исправить ошибку и отправить команду с прикрепленным к ней файлу заново.

Далее, нам необходимо выбрать источник получения расписания в настройках. Для этого перейдите в профиль и отыщите кнопку «Использовать расписание группы». Она означает, что сейчас расписание будет браться как для студента группы напрямую с сайта КАИ (или из сохранения в буфере).</p>
        <img src="{% static 'img/dialog_4.png' %}" id="dialog_4">

        <p id="11">Нажав на кнопку, она поменяет текст и цвет.</p>
        <img src="{% static 'img/menu_4.png' %}" id="menu_4">
        <p id="12">Готово! Теперь получение расписания из вашего Excel-файла полностью настроено!
Чтобы вернуться к отображению общего расписания группы просто нажмите на эту кнопку еще раз.</p>



    </div>








    </body>


</html>



