@font-face {
font-family: "Pangolin";
src: url("../fonts/Pangolin-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Ruda";
src: url("../fonts/Ruda.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Roboto";
src: url("../fonts/Roboto-Light.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
html {
    position: relative;
    width: 100%;
    height: auto;
    margin:0px;
}
body {
    width: inherit;
    background-color: #222534;
    margin: 0px;
    /*align-content: center;*/

}
.clearfix { clear: both;  }
.main_header {
    position: relative;
    width: auto;
    /*min-width: 350px;*/
    height: auto;
    margin-left: 33px;
    margin-right: 33px;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: block;

    color: #FFFFFF;
}
p.main_paragraph {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 43px;
    margin-right: 43px;
    vertical-align: middle;
    font-family: Pangolin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: block;

    color: #FFFFFF;
}


.standard_img {
    position: relative;
    display: block;
    width: 85%;
    height: auto;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px ;
    margin-left: auto;
    margin-right: auto;
    max-width: 414px;
}

#alice_badge_ref {
    position: relative;
    display: block;
    height: auto;
    width: 90%;
    float: right;
}

#alice_badge_img {
    position: relative;
    display: block;
    height: auto;
    width: 90%;
}