@font-face {
font-family: "Pangolin";
src: url("../fonts/Pangolin-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "Ruda";
src: url("../fonts/Ruda.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
html {
    position: relative;
    width: 100%;
    height: auto;
    margin:0px;
}
body {
    width: 100%;
    background-color: #222534;
    align-content: center;
}
#red_up {
    position: absolute;
    width: 102px;
    height: 143px;
    left: 34px;
    top: 18px;
}
#red_sit {
    position: absolute;
    width: 102px;
    height: 133px;
    left: 278px;
    top: 752px;
}
#p1 {
    position: absolute;
    width: 217px;
    height: 80px;
    left: 163px;
    top: 49px;
    font-family: Pangolin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.76);
}

#buttons_block {
    position: absolute;
    width: 276px;
    height: 564px;
    left: 69px;
    top: 171px;
}

.buttons {
    width: 100%;
    height: calc(width/(276/64));
}

#main_category {
    overflow: hidden;
    height: 893px;
    width: auto;
    display: block;
    /*position: fixed;*/
}
#first_category {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    left: 0px;
    top: 902px;

}
#blue_up {
    position: absolute;
    width: 102px;
    height: 137px;
    left: 24px;
    top: 46px;
}

#cat_1_name {
    position: absolute;
    width: 250px;
    height: 86px;
    left: 147px;
    top: 97px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

    color: #FFFFFF;
}
.breaker {
    position: absolute;
width: 370px;
height: 0px;

border: 1px solid #FFFFFF;
}
.breaker#c1{
    left: 22px;
    top: 210px;
}
#menu_1 {
    position: absolute;
    width: 177.13px;
    height: 145px;
    left: 38px;
    top: 237px;
}
#cat_1_name {
    position: absolute;
    width: 250px;
    height: 63px;
    left: 147px;
    top: 70px;

    font-family: Ruda;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(27, 0, 191, 0.52);
    margin: 0px;
}
#p2 {
position: absolute;
width: 158px;
height: 92px;
left: 232px;
top: 281px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
#p3 {
    position: absolute;
width: 328px;
height: 339px;
left: 41px;
top: 404px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
}
#img_blue_down {
    position: absolute;
width: 100px;
height: 134px;
left: 284px;
top: 743px;
}

#img_blue_down2 {
    position: absolute;
width: 100px;
height: 134px;
left: 296px;
top: 1013px;
}
#blue_up2 {
        position: absolute;
width: 102px;
height: 137px;
left: 24px;
top: 46px;
}
#back_bt1 {
    position: absolute;
width: 112px;
height: 36px;
left: 272px;
top: 17px;
}
#back_bt2 {
    position: absolute;
width: 112px;
height: 36px;
left: 272px;
top: 17px;
}
#p4 {
    position: absolute;
width: 250px;
height: 86px;
left: 147px;
top: 97px;

font-family: Ruda;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 32px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(27, 0, 191, 0.52);
    margin: 0px;
}
#p5 {
    position: absolute;
width: 328px;
height: 235px;
left: 44px;
top: 436px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
}
#p6 {
    position: absolute;
width: 328px;
height: 180px;
left: 44px;
top: 845px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
 }
#menu_2 {

position: absolute;
width: 345px;
height: 197px;
left: 34px;
top: 237px;
}
#menu_3 {
    position: absolute;
width: 345px;
height: 134px;
left: 34px;
top: 683px;
}
#second_category {
    position: absolute;
width: 414px;
height: 1157px;
left: 0px;
top: 1779px;
}
.breaker#c2{
    position: absolute;
width: 370px;
height: 0px;
left: 22px;
top: 210px;

border: 1px solid #FFFFFF;
}

#cat_3 {
    position: absolute;
width: 414px;
height: 3127px;
left: 1px;
top: 2936px;
}
#back_bt3 {
position: absolute;
width: 112px;
height: 36px;
left: 272px;
top: 17px;


}
#blue_up3 {
    position: absolute;
width: 102px;
height: 137px;
left: 24px;
top: 46px;
}
#img_blue_down3 {
position: absolute;
width: 100px;
height: 134px;
left: 293px;
top: 2976px;
}
.breaker#c3 {
    position: absolute;
width: 370px;
height: 0px;
left: 22px;
top: 210px;

border: 1px solid #FFFFFF;
}
#p7 {
    position: absolute;
width: 328px;
height: 366px;
left: 56px;
top: 237px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
#p8 {
    position: absolute;
width: 328px;
height: 657px;
left: 44px;
top: 785px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
#p9 {
position: absolute;
width: 328px;
height: 98px;
left: 44px;
top: 1645px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
#p10 {
    position: absolute;
width: 321px;
height: 306px;
left: 42px;
top: 1934px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
#p11 {
    position: absolute;
width: 321px;
height: 51px;
left: 42px;
top: 2741px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
    display: block;
}
#p12 {
    position: absolute;
width: 321px;
height: 138px;
left: 40px;
top: 2838px;

font-family: Pangolin;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
 display: block;
}
#dialog_1 {
    position: absolute;
width: 381px;
height: 160px;
left: 16px;
top: 620px;
}
#dialog_2 {
    position: absolute;
width: 380px;
height: 151px;
left: 10px;
top: 1472px;
    display: block;
}
#dialog_3 {
    position: absolute;
width: 278px;
height: 137px;
left: 14px;
top: 1775px;
display: block;
}
#dialog_4 {
    position: absolute;
width: 356px;
height: 444px;
left: 34px;
top: 2279px;
}
#menu_4 {
    position: absolute;
width: 345px;
left: 34px;
top: 2792px;
}
p {
    margin: 0px;
}
